
@media all and (max-width: 1681px) {
    .hair {
      margin-bottom: 110%;
    }
  }
  
  @media all and (max-width: 1250px) {
    .hair {
      margin-bottom: 120%;
    }
  }
  
  @media all and (max-width: 1100px) {
    .hair {
      margin-bottom: 110%;
    }
  
    .head {
      width: 30%;
    }
  }
  
  
  @media all and (max-width: 900px) {
    .hair {
      margin-bottom: 120%;
    }
  
    .head {
      width: 35%;
    }

    .thumb {
      width: 40%;
    }

    .speech {
      font-size: 20px;
      width: 25%;
      padding-top: 0px;
    }
  }
  
  @media all and (max-width: 770px) {
    .hair {
      margin-bottom: 110%;
    }
    .head {
      width: 40%;
    }

    .thumb {
      width: 40%;
    }
  }
  
  @media all and (max-width: 770px) {
    .head {
      width: 45%;
    }
  }
  
  @media all and (max-width: 650px) {
    .head {
      width: 50%;
    }

    .hand {
      width: 15%;
      height: 25%;
      left: 5%;
      top: 65%
    }

    .thumb {
      width: 40%;
    }
  }
  
  @media all and (max-width: 560px) {
    .hair {
      margin-bottom: 125%;
    }
    .head {
      width: 55%;
    }

    .speech {
      font-size: 18px;
      width: 30%;
      padding-top: 0px;
      left: 1%;
      bottom: 80%
    }
  }
  
  @media all and (max-width: 460px) {
    .hair {
      margin-bottom: 115%;
    }
    .head {
      width: 72%;
    }

    .hand {
      top: 70%;
      width: 20%;
    }
    
    .thumb {
      width: 50%;
    }

    .speech {
      font-size: 16px;
      padding-top: 5px;
    }
  }
  
  @media all and (max-width: 400px) {
    .hair {
      margin-bottom: 120%;
    }
    .head {
      width: 75%;
    }
  
    .hair-corner::before{
    left: 5%;
    top: 55px
  }
  
  .hair-corner::after {
    right: 5%;
    top: 55px;
  }

  .speech {
    font-size: 14px;
    padding-top: 5px;
  }

  }